body {
    max-width: 360px;
    margin: 0 auto;
    font-family:   'Times New Roman', serif;
    font-size: 68px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 8px;
}

.container3{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    margin: 0px auto;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

#date {
    display: block;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#date > div {
    vertical-align: text-top;
}

#day, #month, #year {
    display: inline-block;
}

span {
    vertical-align: text-top;
}

#ampm {
    font-size: 0.5em;
}

#hours, #minutes, #seconds, #ampm {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
}

@media all and (min-width: 440px) {
    
    body {
        max-width: 400px;
        font-size: 76px;
    }

    #date {
        font-size: 56px;
    }

    #hours, #minutes, #seconds {
        border-radius: 12px;
    }
}

@media all and (min-width: 480px) {
    
    body {
        max-width: 440px;
        font-size: 84px;
    }

    #date {
        font-size: 62px;
    }

    #hours, #minutes, #seconds {
        border-radius: 16px;
    }
}

@media all and (min-width: 600px) {
    
    body {
        max-width: 560px;
        font-size: 108px;
    }

    #date {
        font-size: 80px;
    }

    #hours, #minutes, #seconds {
        border-radius: 18px;
    }
}

@media all and (min-width: 768px) {
    
    body {
        max-width: 720px;
        font-size: 136px;
    }

    #date {
        font-size: 100px;
    }

    #hours, #minutes, #seconds {
        border-radius: 20px;
    }
}

@media all and (min-width: 992px) {
    
    body {
        max-width: 900px;
        font-size: 166px;
    }

    #date {
        font-size: 122px;
    }

    #hours, #minutes, #seconds {
        border-radius: 22px;
    }
}

@media all and (min-width: 1200px) {
    
    body {
        max-width: 1440px;
        font-size: 240px;
    }

    #date {
        font-size: 180px;
    }

    #hours, #minutes, #seconds {
        border-radius: 24px;
    }
}
