body {
    max-width: 360px;
    margin: 0 auto;
    font-family:   'Times New Roman', serif;
    font-size: 68px;
}

.clockPosition {
    position: fixed;
    top: 25%;
    text-align: center;    
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 0px 8px;
}

#clock {
    text-align: center;
}

span {
    vertical-align: text-top;
}

#ampm {
    font-size: 0.5em;
}

#hours, #minutes, #seconds, #ampm {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 36px;
}

@media all and (min-width: 440px) {
    
    body {
        max-width: 400px;
        font-size: 76px;
    }
}

@media all and (min-width: 480px) {
    
    body {
        max-width: 440px;
        font-size: 84px;
    }
}

@media all and (min-width: 600px) {
    
    body {
        max-width: 560px;
        font-size: 108px;
    }
}

@media all and (min-width: 768px) {
    
    body {
        max-width: 720px;
        font-size: 136px;
    }
}

@media all and (min-width: 992px) {
    
    body {
        max-width: 900px;
        font-size: 166px;
    }
}

@media all and (min-width: 1200px) {
    
    body {
        max-width: 1440px;
        font-size: 240px;
    }
}
